*
!.gitignore
!.zshrc
!.gitconfig
!.ignore
!.psqlrc
!.tmux.conf
!.prettierrc

!.config
!.config/nvim
!/.config/nvim/init.vim
!/.config/nvim/vim-tmux-navigator-config.vim
!/.config/nvim/coc-config.vim
!/.config/nvim/coc-settings.json
!.config/nvim/colors
!.config/nvim/colors/**

!.setup_scripts
!/.setup_scripts/**
